.modal {
  width: 900px;
  margin-left: auto;
  background-color: $light-main;
  box-shadow: -8px 9px 25px 0 rgba(49, 68, 93, 0.23);
}

.modal__header {
  display: flex;
  position: relative;
  width: 100%;
  background-color: $smooth-header;
}

.modal__close {
  position: absolute;
  font-size: 0;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 15px 0 16px 75px;
}

.modal__title::before {
  position: absolute;
  content: '';
  top: 20px;
  left: 40px;
  width: 2px;
  height: 20px;
  transform: rotate(45deg);
  background-color: $black-additional;

}

.modal__title::after {
  position: absolute;
  content: '';
  top: 20px;
  left: 40px;
  width: 2px;
  height: 20px;
  transform: rotate(-45deg);
  background-color: $black-additional;
}

.modal__wrapper {
  width: 883px;
}

.modal__scroller {
  height: 100vh;
  width: 900px;
  overflow-y: scroll;
}

.modal__footer {
  position: fixed;
  z-index: 7;
  bottom: 0;
  right: 0;
  width: 900px;
  background-color: $light-main;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.24), 0 0 15px 0 rgba(0, 0, 0, 0.09);
}

.modal__footer-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 19px 171px 21px 184px;
}

.modal__footer-link {
  display: flex;
  align-items: center;
  color: $black-main;
  cursor: pointer;
}

.modal__footer-desc {
  margin-left: 10px;
}

.modal__footer-item:hover .modal__footer-link{
  transform: scale(1.1);
  font-weight: 500;
}
