$light-main: #ffffff;
$light-additional: #f2f2f2;
$black-main: #2C2F32;
$black-additional: #2B2B2B;
$black-clear: #000000;
$contrast-main: #CF4545;
$background: #EDEFF1;
$label-main: #81C624;
$smooth-header: rgba(0, 0, 0, 0.03);
$text-light: #828a96;
$description-main: #808080;
